RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php?url=$0 [PT,L]
RewriteCond %{HTTP_HOST} ^j6.net.br [NC]
RewriteRule ^(.*)$ http://www.j6.net.br/$1 [L,R=301]